ARM_TOOLCHAIN= # Path to ARM GNU Toolchain bin directory, e.g. C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/14.3 rel1/bin
OPENOCD_PATH= # Path to OpenOCD bin directory, e.g. C:/Users/asmig/OpenOCD-20251211-0.12.0/bin